[package]
name = "melt"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
pinocchio = "0.10.1"
pinocchio-system = "0.5.0"
pinocchio-pubkey = "0.3.0"
solana-program-log = "1.1.0"
